.rdp-root {
  --rdp-accent-color: var(--colorTextA);
  --rdp-selected-border: 2px solid var(--bgB);
  --rdp-disabled-opacity: 1;

   transform: scale(.9);
   width: fit-content;
   transform-origin: top center;

}

.rdp-today:not(.rdp-outside)
{
  color: var(--colorTextD);
  font-weight: 500;
  background-color: red;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
}

.my-booked-class button,
.rdp-selected .rdp-day_button
{

  border: 1px solid tomato;
  border-radius: 4px;

}
