.formWrap
{
    background-color: var(--bgA);
    width: 100dvw;
    height: 100dvh;
    color: var(--colorTextA);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formBox 
{
    font-size: var(--text-body);
}

.boxInput 
{
    display: flex;
    flex-direction: column;
    gap: .8rem 0;
    margin-top: 1rem;
}

.boxInput input
{

    width: 21.5rem;
    height: 3rem;
    border: var(--borderA);
    padding: 0.5rem;
    border-radius: .25rem;
    color: var(--colorTextB);
    font-size: var(--text-body);
}

.boxInput input:focus 
{
    border: var(--borderFocusA);
}

.buttonSubmit 
{
    width: 21.5rem;
    height: 3rem;
    border-radius: .25rem;
    color: var(--colorTextA);
    background-color: var(--bgB);
    margin-top: 1rem;
    cursor: pointer;
}

.buttonSubmit:active
{
    transform: scale(0.98);
}

.loginMoreInfo
{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    font-size: var(--text-small);
    margin-top: 1.3rem;
    gap: .4rem;
}



.loginMoreInfo a 
{
    color: inherit;
}

.loginMoreInfo a:hover 
{
    text-decoration: underline;
}

.loginMoreInfo .linkRegisterAccount
{
    color: var(--colorTextD);
}

.divLogoPage
{
    text-align: center;
}

.divLogoPage img 
{
    transform: translateX(-20px);
}

.loginMoreInfo .linkRegisterAccount
{
    color: var(--colorTextD);
}

.inputMessageError 
{
    color: #ff6d6d;
    font-size: var(--text-small);
}