
.boxProfileHome
{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgC);
    max-width: 24rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    border: var(--borderA);
    min-width: 21.25rem;
    flex-grow: 1;
}

.profilePhoto 
{
    width: 3.75rem;
    height: 3.75rem;
    overflow: hidden;
    border-radius: 50%;
}

.profilePhoto img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nameEmailProfile
{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.nameEmailProfile h2
{
    font-size: 1.3rem;
}

.nameEmailProfile span 
{
    font-size: var(--text-body);
    color: var(--colorTextB);

}

.boxCard
{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgC);
    padding: 2rem 1rem;
    border-radius: .5rem;
    border: var(--borderA);
    transition: .3s;
    flex-grow: 1;
    max-width: 24rem;
    border-color: #00e3ff;
}

.boxIconCard
{
    color: #00e3ff ;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00e3ff12;
    border-radius: 50%;
    place-items: center;
    display: grid;
}

.cardDescription 
{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.titleDescription
{
    letter-spacing: 2px;
}

.cardDescription span 
{
    color: var(--colorTextB);
}

.primarySeactionCard
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-bottom: var(--borderB);
}

.divTable 
{
    border: var(--borderB);
    border-radius: .25rem;
    margin-top: 1rem;
    min-width: 21.25rem;
    overflow: hidden;
    overflow-x: auto;
    max-width: 100%;

}

.tableBox
{
    border-collapse: collapse;
    border-radius: 5px;
    font-size: var(--text-body);
    width: 100%;
}

.tableBox tr 
{
    border-bottom: var(--borderB);
}

.tableBox thead th 
{
    width: fit-content;
    text-align: left;
    font-weight: 500;
}

.tableBox thead th,
.tableBox tbody td
{
    padding: .5rem;
}

.tableBox thead tr {
    background-color: #1f2123;
}

.tableBox tbody td
{
    font-size: var(--text-small);
}


.cellDouble{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.iconColorSuccess {color: #7eff7e;}
.iconColorError {color: #ff6d6d;}
.iconColorWarnning {color: #faff39;}

.mainContentHome 
{
    width: 100%;
    max-width: 45rem;
}

.toolWrap
{

    container: dashHomeContent / inline-size;
}

.WrapHomeDash 
{
    display: flex;
    gap: 2rem;
}


.asideDashHome 
{
    background-color: #1a1a1e;
    flex: 1 1 0%;
    border: var(--borderB);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.asideDashHome .titleBox 
{
    font-size: var(--text-body);
    font-weight: 500;
    margin: .6rem 0;
}

.dailyChallenge, .quickLinks
{
    border-bottom: var(--borderB);
    padding-bottom: 1.5rem;
}

.dailyChallengeBox
{
    /* background-color: #1a1a1e; */
    background: url("/challenge-jump.jpg") no-repeat left/cover;
    /* background-size: contain; */
    display: grid;
    place-items: center;
    border: var(--borderB);
    border-radius: .25rem;
    height: 5rem;
}

.dailyChallengeBox .link 
{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--text-body);
    color: var(--colorTextA);
    background-color: #29292e8f;
    padding: .5rem 1rem;
    border-radius: 999px;
    backdrop-filter: blur(10px);
}

.dailyChallengeBox .link:hover 
{
    
    background-color: #3a3a40;
}

.quickLinks .quickLinksList {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.quickLinks .quickLinksList a
{
    background-color: #1f2123;
    font-size: var(--text-small);
    padding: .25rem .4rem;
    border-radius: 999px;
    display: block;
    color: var(--colorTextB);
    border: var(--borderB);
}

.quickLinks .quickLinksList a:hover 
{
    background-color: #292c2e;
}






@container dashHomeContent (width < 750px) {
    .WrapHomeDash {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 680px)
{
    .primarySeactionCard
    {
        justify-content: center;
    }

}

