
.boxProfileHome
{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgC);
    max-width: 24rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    border: var(--borderA);
    min-width: 21.25rem;
    flex-grow: 1;
}

.profilePhoto 
{
    width: 3.75rem;
    height: 3.75rem;
    overflow: hidden;
    border-radius: 50%;
}

.profilePhoto img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nameEmailProfile
{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.nameEmailProfile h2
{
    font-size: 1.3rem;
}

.nameEmailProfile span 
{
    font-size: var(--text-body);
    color: var(--colorTextB);

}

.boxCard
{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgC);
    padding: 2rem 1rem;
    border-radius: .5rem;
    border: var(--borderA);
    transition: .3s;
    flex-grow: 1;
    min-width: 21.25rem;
    max-width: 24rem;
    border-color: #00e3ff;
}

.boxIconCard
{
    color: #00e3ff ;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00e3ff12;
    border-radius: 50%;
    place-items: center;
    display: grid;
}

.cardDescription 
{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.titleDescription
{
    letter-spacing: 2px;
}

.cardDescription span 
{
    color: var(--colorTextB);
}

.primarySeactionCard
{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-bottom: var(--borderB);
}

.divTable 
{
    border: var(--borderB);
    border-radius: .25rem;
    margin-top: 1rem;
    width: fit-content;
    overflow: hidden;
    overflow-x: auto;

}

.tableBox
{
    border-collapse: collapse;
    border-radius: 5px;
    font-size: var(--text-body);
    width: 100%;
}

.tableBox tr 
{
    border-bottom: var(--borderB);
}

.tableBox thead th 
{
    width: fit-content;
    text-align: left;
    font-weight: 500;
}

.tableBox thead th,
.tableBox tbody td
{
    padding: .5rem;
}

.tableBox thead tr {
    background-color: #1f2123;
}

.tableBox tbody td
{
    font-size: var(--text-small);
}


.cellDouble{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.iconColorSuccess {color: #7eff7e;}
.iconColorError {color: #ff6d6d;}
.iconColorWarnning {color: #faff39;}